.newe-profile-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 500px;
  max-width: 57%;
  gap: 1rem;
  margin-bottom: 2rem;
}

.newe-profile-container menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.newe-profile-container menu button {
  border: none;
  padding: .5rem 0;
  background-color: transparent;
  color: var(--letter-color);
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

.newe-profile-container .active {
  color: var(--active-button);
  border-bottom: 2px solid var(--active-button);
}


.newe-profile-container .card-newe-profile {
  min-height: 55px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--line-color);
  border-radius: 10px;
  padding: 1rem 0 1.5rem 0;
}

.newe-profile-container .card-newe-profile .points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.newe-profile-container .card-newe-profile .add-experience-button {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: .5rem 1rem;
}